*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Poppins", sans-serif;
     width: 100%;
}
nav{
      background-image: url(./asset/image_darker_opacity.jpg);
    height: 90vh;   
    object-fit: cover;
    color: white;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.fan{
    font-size: 1rem;
    /* color: pink; */
}
.line{
    display: flex;
    gap: 1rem;
}
.hove{
    color:rgb(231, 69, 123);
  
}
nav ul{
    display: flex;
    gap: 1rem;
}
li{
    list-style: none;
}

.fan{
    font-size: 5vh;
}
.search{
    font-size: 18px;
    padding: 0.5rem;
}
button{
    height: 5vh;
    width: 7vw;
    color: white;
    font-weight: bold;
    border: none;
    background-color: rgb(240, 83, 135);
}
.learn{
     height: 5vh;
    width: 7vw;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    gap: 2rem;
    background-color: rgb(240, 83, 135);

}
.para{
    font-size: 8vh;
    font-weight: bold;
}
#header{
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
}
.head-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}
.white{
    width: 2.5vw;
    background-color: white;
     color:  rgb(231, 69, 123);
     border-radius: 3px;
    
}
.head-right{
    text-align: end;
    padding-right: 8rem;
}
.btn{
    background-color: white;
    color:  rgb(231, 69, 123);
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#hero{
    padding: 5rem;

}
.container-2{
    display: flex;
    
}
.main-right{
    padding-left: 15rem;
    padding-right:5rem;
}
.main-right p{
    opacity: 0.7;
}
.main-right li{
    opacity: 0.7;
}
.images{
 margin-left: 10rem;
   height: 40vh;
    width: 20vw;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
.image-2{
    height: 10vh;
    width: 5vw;
    position: absolute;
    top: 48rem;
    left: 32rem;
    z-index: 2;
     border-radius: 5px;
}
.image-3{
    height: 22vh;
    width: 10vw;
    position: absolute;
    border-radius: 5px;
    top: 58rem;
    left: 12rem;
    z-index: 2;
}
.image-4{
    height: 25vh;
    width: 9vw;
    position: absolute;
    border-radius: 5px;
    top: 60rem;
    left: 30rem;

}
main p{
    font-size: 16px;
}
.btr{
    display: flex;
    padding: 2rem ;
    gap: 2rem;

}
.btn-2{
    height: 13vh;
    width: 8vw;
    font-size: 3rem;
    padding: 1rem;
    background-color: rgb(252, 249, 249);
    color: rgb(231, 69, 123);
}
.par{
    color: black;
    font-size: 12px;
    gap: 1rem;
}
.list{
padding: 1rem;
gap: 1rem;
padding-top: 1rem;
line-height: 2rem;
}
.more{
    width: 7rem;
    margin-left: 2rem;
    font-size: 13px;
}
.check{
    color: rgb(231, 69, 123);
}
#hero-2{
    justify-content: center;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section-card{
    padding: 2rem;
}
.para-2{
    color: rgb(231, 69, 123);
}
.section-list{
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 3rem;
    margin: 1rem;
    /* line-height: 1.5rem;   */
}
.section-card-list{
    height: 45vh;
    width: 16vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    text-align: start;
    padding: 2rem;
    line-height: 1.5rem;
    padding-top: 3rem;
    gap: 5rem;
}
.section-card-list p{
    font-size: 13px;
    opacity: 0.7;
}

.read{
    padding-top: 11rem;
}
.read-2{
    padding-top: 5rem;
}
.icon{
    font-size: 2rem;
    color:rgb(231, 69, 123); 

}
.section-card-list:hover {
box-shadow: rgba(5, 1, 1, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.section-card-list-2{
    height: 50vh;
    width: 18vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    text-align: center;
    padding-top: 1rem;
    gap: 5rem;
    line-height: 3.5rem;

}
.section-card-list-2 h5{
    opacity: 0.7;
}
.section-card-list-2 p{
    opacity: 0.7;
}
.purchase{
    font-size: 10px;
    width: 9vw;
    font-weight: bold;
}
.shadow{
    border-radius: 5px;
    font-size: 20px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px; */
}
.section-card-list-3{
    background-color: rgb(3, 3, 28);
    color: white;
    height: 50vh;
    width: 18vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    text-align: center;
    padding-top: 1rem;
    gap: 5rem;
    line-height: 3rem;
}
.purchase-2{
    background-color: white;
    color:rgb(231, 69, 123); 
    font-weight: bold;
    font-size: 10px;
    width: 9vw;
}
footer{
    display: flex;
    background-color:  rgb(3, 3, 28);
    color: white;
    padding: 5rem;
    padding-left: 10rem;
    gap: 2rem;
    padding-top: 4rem;
    justify-content: center;
}
.detail{
    padding-top: 2rem;
}
.ftr-left{
    gap: 1rem;
    padding-top: 2rem;
    display: flex;
}
.icon-2{
    display: flex;
    gap: 1rem;   
}
.footer-right{
display: flex;
gap: 5rem;
line-height: 3rem;
}
.footer-right h5 {
    color:rgb(231, 69, 123);
}
.dot{
    font-size: 5rem;
    color: rgb(231, 69, 123); 
}
.content{
    color: rgb(231, 69, 123); 
}
.greater{
    padding-left: 5rem;
    font-size: 9px;
}
.greater-2{
    padding-left: 6rem;
    font-size: 9px;
}

.small{
    height: 7vh;
    width: 3.5vw;
    object-fit: cover;
    border-radius: 10px;
}
.img-2{
    display: flex;
    gap: 0.5rem;
}
.img-3{
   display: flex;
    padding-top: 0.5rem;
    gap: 0.5rem;
 
}
hr{
    opacity: 0.1;
    
}
.copyright{
    display: flex;
    gap: 0.5rem;
    background-color:  rgb(3, 3, 28);
    color: white;
    justify-content: center;
    text-align: center;
}
.web{
    color: rgb(231, 69, 123); 
}








